<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      html, body{
        height: 100%;
      }
      #top{
        padding-top: 20px;
        height: 10%;
        position: relative;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
      }
      #content{
        position: absolute;
        top: 20%; left: 15%;
        border: 1px solid black;
        width:70%;
        margin: 0 auto;
        padding: 100px;
      }
      .button{
        margin: 30px;
      }
    </style>
  </head>
  <body>
    <header id="top">
      <div id="title">I'M HERE</div>
      <hr>
    </header>
    <div id="content">
      <div class="button">
        <button type="button" class="btn btn-default btn-lg btn-block management" value="playmountain">놀이동산</button>
      </div>
      <div class="button">
        <button type="button" class="btn btn-default btn-lg btn-block management" value="museum">박물관</button>
      </div>
      <div class="button">
        <button type="button" class="btn btn-default btn-lg btn-block management" value="gallery">미술관</button>
      </div>
    </div>
  </body>
</html>

<!-- Jquery -->
<script src="/static/jquery-3.4.1.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script>
$('.management').click(function(){
  console.log($(this).val());
  var location = $(this).val();
  window.location.pathname = '/web/' + location + '/';
})
</script>
