<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <button type="button" class="management" value="playmountain">놀이동산</button>
    <button type="button" class="management" value="museum">박물관</button>
    <button type="button" class="management" value="gallery">미술관</button>
  </body>
</html>

<!-- Jquery -->
<script src="/static/jquery-3.4.1.min.js"></script>
<script>
$('.management').click(function(){
  console.log($(this).val());
  var location = $(this).val();
  window.location.pathname = '/web/' + location + '/';
})
</script>
