<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Kakao Map API -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4d42de7de07c21333f11d27b2f221042&libraries=LIBRARY"></script>
    <style>
      #management, #map{
        float: left;
        border: 1px solid black;
      }
    </style>
</head>
<body>
  <h1 id="title"></h1>
  <div id="map" style="width:500px;height:400px;"></div>
  <div id="management"></div>
  <button type="button" class="alarm">알람</button>
  <textarea id="chat" cols="100" rows="20"></textarea><br>
</body>
</html>

<!-- Jquery -->
<script src="/static/jquery-3.4.1.min.js"></script>
<script>
var management = {{ management }};
$('#title').text(management);

var chatSocket = new WebSocket(
    'ws://' + window.location.host + '/ws/management/' + management + '/');

chatSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    var message = data['message'];
    document.querySelector('#chat').value += (message + '\n');
};

chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
};

//경보 울리기
$(document).on("click", ".alarm", function(){
  console.log($(this).val())
})

//Kakao Map API
// HTML5의 geolocation으로 사용할 수 있는지 확인합니다
if (navigator.geolocation) {
    // GeoLocation을 이용해서 접속 위치를 얻어옵니다
    navigator.geolocation.getCurrentPosition(function(position) {
        var lat = position.coords.latitude; // 위도
        var lan = position.coords.longitude; // 경도
        var locPosition = new kakao.maps.LatLng(lat, lan); // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
          mapOption = {
              center: new kakao.maps.LatLng(lat, lan), // 지도의 중심좌표
              level: 3 // 지도의 확대 레벨
          };
          var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
          // 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다
          var positions = [
            {% for item in location %}
              {
                dno: {{item.dno}},
                latlng: new kakao.maps.LatLng({{item.lat}}, {{item.lan}})
              },
            {% endfor %}
          ];

          for (var i = 0; i<positions.length; i++) {
            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: positions[i].latlng, // 마커의 위치
                title: positions[i].dno
            });

            kakao.maps.event.addListener(marker, 'click', makeClickListener(map, marker, positions[i]))
          }
          function makeClickListener(map, marker, positions){
            return function(){
              html = '';
              html += '<h2>' + positions.dno + '</h2>';
              html += '<button type="button" class="alarm" value="' + positions.dno + '">경보 울리기</button>';
              $('#management').html(html);
            }
          }

      });
    }
</script>
