<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Kakao Map API -->
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4d42de7de07c21333f11d27b2f221042&libraries=LIBRARY"></script>
</head>
<body>
  <h1 id="title"></h1>
  <div id="map" style="width:500px;height:400px;"></div>
  <button type="button" class="management" value="test">test</button>
  <textarea id="chat" cols="100" rows="20"></textarea><br>
</body>
</html>

<!-- Jquery -->
<script src="/static/jquery-3.4.1.min.js"></script>
<script>
var management = {{ management }};
$('#title').text(management);

var chatSocket = new WebSocket(
    'ws://' + window.location.host + '/ws/management/' + management + '/');

chatSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    var message = data['message'];
    document.querySelector('#chat').value += (message + '\n');
};

chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
};

$('.management').click(function(){
  var message = $(this).val();
  console.log(message);
  chatSocket.send(JSON.stringify({
      'message': message
  }));
})

//Kakao Map API
// HTML5의 geolocation으로 사용할 수 있는지 확인합니다
if (navigator.geolocation) {
    // GeoLocation을 이용해서 접속 위치를 얻어옵니다
    navigator.geolocation.getCurrentPosition(function(position) {
        var lat = position.coords.latitude; // 위도
        var lan = position.coords.longitude; // 경도
        var locPosition = new kakao.maps.LatLng(lat, lan); // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
          mapOption = {
              center: new kakao.maps.LatLng(lat, lan), // 지도의 중심좌표
              level: 3 // 지도의 확대 레벨
          };
          var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
          // 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다
          var positions = [
            {% for item in location %}
              {
                content : '<div>{{item.dno}}번 장치</div><div><a href="{{item.dno}}">관리페이지 이동</a></div>',
                latlng: new kakao.maps.LatLng({{item.lat}}, {{item.lan}})
              },
            {% endfor %}
          ];
          for (var i = 0; i<positions.length; i++) {
            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: positions[i].latlng // 마커의 위치
            });
            // 마커에 표시할 인포윈도우를 생성합니다
            var iwRemoveable = true;
            var infowindow = new kakao.maps.InfoWindow({
                content: positions[i].content, // 인포윈도우에 표시할 내용
                removable : iwRemoveable //인포 윈도우 닫기
            });
            // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
            // 이벤트 리스너로는 클로저를 만들어 등록합니다
            // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
            kakao.maps.event.addListener(marker, 'click', makeClickListener(map, marker, infowindow));
          }
          // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
          function makeClickListener(map, marker, infowindow) {
            return function() {
                console.log(infowindow);
                infowindow.open(map, marker);
            };
          }
      });
    }
</script>
