<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      html, body{
        height: 100%;
      }
      #top{
        padding-top: 20px;
        height: 10%;
        position: relative;
        text-align: center;
        font-size: 50px;
        font-weight: bold;
      }
      #map{
        border: 1px solid black;
        width:80%;height:50%;
        margin: 0 auto;
      }
      #content{
        border: 1px solid black;
        width:80%; height:30%;
        margin: 0 auto;
      }
      #info{
        float:left;
        width: 50%; height: 100%;
        box-sizing: border-box;
        border-right: 1px solid black;
        padding: 10px;
      }
      #management{
        float:right;
        width: 50%;
        box-sizing: border-box;
        padding: 20px;
      }
    </style>
</head>
<body>
  <header id="top">
    <div id="title">I'M HERE</div>
    <hr>
  </header>
  <div id="map"></div>
  <div id="content">
    <div id="info">
      {% for item in location %}
        <div class="device">
          <input type="hidden" class="test" value="{{item.dno}}" />
          <h2>DEVICE{{item.dno}}<br>{{item.lat}}<br>{{item.lan}}</h2>
        </div>
      {% endfor %}
    </div>
    <div id="management"></div>
  </div>
  <button type="button" class="location">location</button>
  <textarea id="chat" cols="80" rows="5"></textarea><br>
</body>
</html>

<!-- Jquery -->
<script src="/static/jquery-3.4.1.min.js"></script>
<!-- Kakao Map API -->
<script option="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4d42de7de07c21333f11d27b2f221042&libraries=LIBRARY"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script>
var management = {{ management }};

var chatSocket = new WebSocket(
    'ws://' + window.location.host + '/ws/management/' + management + '/');

chatSocket.onmessage = function(e) {
    var data = JSON.parse(e.data);
    var device_num = data['device_num'];
    var option = data['option'];
    var message = data['message'];
    if(option == 'GPS'){
      $('#map').load(window.location.href + "#map");
    }else if(option == 'Speaker'){
      document.querySelector('#chat').value += (device_num + ' ' + option + ' ' + message + '\n');
    }else{
      alert('fail');
    }
};

chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
};

//경보 울리기
$(document).on("click", ".alarm", function(){
  var device_num = $(this).val()
  chatSocket.send(JSON.stringify({
    'device_num': device_num,
    'option': 'Speaker',
    'message': 'Sound_on'
  }));
})

//device click test
$(document).on("click", ".device", function(){
  console.log($(this).children('input').val());
  html = '';
  html += '<h2>DEVICE' + $(this).children('input').val() + '</h2>';
  html += '<button option="button" class="btn btn-default alarm" value="' + $(this).children('input').val() + '">경보 울리기</button>';
  $('#management').html(html);
})

//위치 테스트
$(document).on("click", ".location", function(){
  var device_num = $(this).val()
  chatSocket.send(JSON.stringify({
    'device_num': device_num,
    'option': 'GPS',
    'message': 'GPS_data'
  }));
})

//Kakao Map API
// HTML5의 geolocation으로 사용할 수 있는지 확인합니다
if (navigator.geolocation) {
    // GeoLocation을 이용해서 접속 위치를 얻어옵니다
    navigator.geolocation.getCurrentPosition(function(position) {
        var lat = position.coords.latitude; // 위도
        var lan = position.coords.longitude; // 경도
        var locPosition = new kakao.maps.LatLng(lat, lan); // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
          mapOption = {
              center: new kakao.maps.LatLng(lat, lan), // 지도의 중심좌표
              level: 3 // 지도의 확대 레벨
          };
          var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
          // 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다
          var positions = [
            {% for item in location %}
              {
                dno: {{item.dno}},
                latlng: new kakao.maps.LatLng({{item.lat}}, {{item.lan}})
              },
            {% endfor %}
          ];

          for (var i = 0; i<positions.length; i++) {
            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: positions[i].latlng, // 마커의 위치
            });

            kakao.maps.event.addListener(marker, 'click', makeClickListener(map, marker, positions[i]))
          }
          function makeClickListener(map, marker, positions){
            return function(){
              html = '';
              html += '<h2>DEVICE' + positions.dno + '</h2>';
              html += '<button option="button" class="btn btn-default alarm" value="' + positions.dno + '">경보 울리기</button>';
              $('#management').html(html);
            }
          }

      });
    }
</script>
