<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 id="title"></h1>
    <textarea id="chat" cols="100" rows="20"></textarea><br>

    <input type="button" class="management" value="경보 울리기" />
    <input type="button" class="management" value="위치 추적" />
    <input type="button" class="management" value="심박수 체크" />
</body>
</html>

<!-- Jquery -->
<script src="/static/jquery-3.4.1.min.js"></script>

<script>
    var menu = {{ menu }};
    $('#title').text(menu);

    var chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/menu/' + menu + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    $('.management').click(function(){
      var message = $(this).val();
      console.log(1);
      console.log(message);
      chatSocket.send(JSON.stringify({
          'message': message
      }));
    })
</script>
